.dataBlok
  position: absolute
  display: flex
  gap: 4px
  mix-blend-mode: difference
  transform: translate(-50%, -50%)
  z-index: +1
  opacity: 0
  transition: opacity 0.33s ease-out
  &[data-loading="true"]
    opacity: 0
    transition: color var(--transition-entered-data)
  &[data-loading="false"]
    opacity: 1
    .icon
      animation: cursor-blink 2s step-end infinite 1s
  &[data-active="true"]
    opacity: 1
    color: white !important
  &[data-active="false"]
    opacity: 0
    color: black !important

.icon
  width: 5px
  height: 8px
  background-color: currentColor
  margin-top: 0.08rem

.content
  display: flex
  flex-direction: column
  gap: 0.33rem
  span
    font-family: var(--searchsystem-font)
    font-size: var(--type-size-data)
    line-height: 1
    color: currentColor
  .label
    text-transform: uppercase
    color: var(--color-type-secondary)

@keyframes cursor-blink
  0%, 50%
    opacity: 1
  50.01%, 100%
    opacity: 0