.layer
  position: absolute
  inset: 0
  overflow: hidden
  pointer-events: none
  transition: opacity var(--transition-theme)
  background-image: url('/bg-gradient.png')
  border-image-repeat: repeat
  background-position: center
  background-size: 280px
  background-repeat: repeat
  filter: grayscale(1) contrast(280%) brightness(58%)
  opacity: .025
