.layer
  position: absolute
  inset: 0
  overflow: hidden
  pointer-events: none
  transition: opacity var(--transition-theme)
  background-image: url('/bg-gradient.png')
  border-image-repeat: repeat
  background-position: center
  background-size: 200px
  background-repeat: repeat
  filter: grayscale(1) contrast(220%) brightness(68%)
  opacity: 0.066
  opacity: .5
