.footer
  position: relative
  width: 100%
  display: flex
  justify-content: space-between
  border: 1px solid green

.column
  display: flex
  gap: 1rem
  border: 1px solid red

  & > div
    padding: 1rem
    border: 1px solid blue

.linkItem
  text-transform: uppercase
  &.inactive
    opacity: 0.5
    pointer-events: none