.footer
  display: fixed
  bottom: 0
  width: 100%
  padding: 2rem var(--spacing-sides)
  display: flex
  &:nth-child(1)
    flex-grow: 1
  &:nth-child(2)
    flex-shrink: 1
    

.column
  width: 100%
  max-width: 33em
  display: flex
  flex-direction: column
  gap: .25rem
  &:first-child
    border: 1px solid red
