

.theSlider
  position: absolute
  bottom: 12.375vmin
  max-width: 100%
  width: 24.75vmin
  height: 33vmin
  background-color: var(--theme-bg-slider)
  // transition: background-color var(--transition-theme)
  @media screen and (max-width: 850px) 
    bottom: 25vw
    width: 50vw
    height: 33vh

.enterBtn
  position: absolute
  bottom: 10%
  left: 0
  right: 0
  margin: 0 auto
  width: fit-content
  color: currentColor
  text-transform: uppercase
  cursor: pointer
  padding: 1rem 2rem
  transition: opacity var(--transition-exit-text), transform var(--transition-exit-text)
  user-select: none
  &[data-active="true"]
    opacity: 0 !important

.imageLandscape
  opacity: 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  transition: opacity var(--transition-entered-image)
  &[data-active="true"]
    opacity: 1
