img
  max-width: 100%
  height: auto

.dataBlok
  &:nth-child(1)
    top: 40%
    right: 20%
  &:nth-child(2)
    bottom: 10%
    right: 60%
  &:nth-child(3) // LOCATION
    top: 42%
    right: 10%
    .icon
      animation-delay: random(1000) / 1000 + 1 + s
  &:nth-child(4) // TEMP
    top: 30%
    right: 3%
    @media screen and (max-width: 850px) 
      top: 70%
    .icon
      animation-delay: random(1000) / 1000 + 1 + s
  &:nth-child(5) // HUMIDITY
    top: 80%
    right: 60%
    .icon
      animation-delay: random(1000) / 1000 + 1 + s
  &:nth-child(6) // CONDITIONS
    top: 90%
    right: 18%
    @media screen and (max-width: 850px) 
      right: auto
      left: 20%
    .icon
      animation-delay: random(1000) / 1000 + 1 + s
  &:nth-child(7) // TIME
    top: 60%
    right: 24%
    .icon
      animation-delay: random(1000) / 1000 + 1 + s