// Breakpoints
$break-mobile: 770px
$break-tablet: 1024px
$break-desktop: 1370px

:root
  // Colors
  --color-black: #000000
  --color-white: white 
  --color-type-secondary: #9B9B9B

  // // Colors Themes
  --theme-light-bg: var(--color-white)
  --theme-light-type: var(--color-black)
  --theme-dark-bg: var(--color-black)
  --theme-dark-type: var(--color-white)

  // Spacing
  --spacing-sides: 1rem
  --spacing-quarter: 0.25rem
  --spacing-half: 0.5rem
  --spacing-base: 1rem
  --spacing-two: 2rem
  --spacing-three: 4rem
  --spacing-four: 8rem
  --spacing-five: 16rem

  // Type Sizes
  --type-ratio: 1.618
  --type-size-data: 0.8rem
  --type-size-small: 0.618rem
  --type-size-base: 1rem 
  --type-size-large: 1.618rem
  --type-size-xlarge: 2.618rem	
  --type-size-xxlarge: 4.236rem

  // Transitions
  --transition-entered-image: 2s ease-out 3s
  --transition-entered-text: 0.33s ease-out 3s