.player
  position: fixed
  bottom: 40px
  right: 40px

.controls
  display: flex
  align-items: center
  gap: 8px

.playButton
  cursor: pointer
  transition: all 0.2s ease
  color: white
  &:hover
    text-transform: underline

.progressBar
  width: 100%
  height: 1px
  -webkit-appearance: none
  appearance: none
  background: transparent
  outline: none
  cursor: pointer

  &::-webkit-slider-runnable-track
    width: 100%
    height: 1px
    background: var(--color-type-secondary)
    transform: translateY(-3px)

  &::-webkit-slider-thumb
    -webkit-appearance: none
    appearance: none
    width: 9px
    height: 9px
    border-radius: 50%
    background: white
    cursor: pointer
    transform: translateY(-4px)
    transition: all 0.2s ease
    animation: cursor-blink 2s step-end infinite 1s

.player
  &[data-playing="true"] 
    .progressBar::-webkit-slider-thumb,
    .progressBar::-moz-range-thumb,
    .progressBar::-webkit-slider-thumb
        animation: cursor-blink 2s step-end infinite 1s

  &[data-playing="false"] 
    .progressBar
      &::-webkit-slider-thumb,
      &::-moz-range-thumb,
      &::-webkit-slider-thumb
        animation: none

@keyframes cursor-blink
  0%, 50%
    opacity: 1
  50.01%, 100%
    opacity: 0