.pageHome
  position: relative
  height: 100vh
  width: 100%
  
.entryText
  position: absolute
  top: 50%
  right: 20%
  transform: translateY(-50%)
  color: inherit
  cursor: pointer
  transition: opacity 0.66s ease-in
  &[data-active="true"]
    opacity: 1
  &[data-active="false"]
    opacity: 0
  
// .header
//   position: absolute
//   top: 0
//   left: 0
//   width: 100%
//   padding: 2rem var(--spacing-sides)
//   color: var(--color-type-secondary)
//   display: flex
//   justify-content: space-between
//   align-items: flex-start
//   h1
//     text-transform: uppercase

// .logo
//   display: flex
//   gap: 5rem

// .connect
//   display: flex
//   flex-direction: column

