.pageHome
  position: relative
  height: 100vh
  width: 100%

.testText
  position: absolute
  top: 20%
  left: 20%
  color: black
  mix-blend-mode: difference
  opacity: 1
  
.entryText
  position: absolute
  top: 50%
  right: 20%
  transform: translateY(-50%)
  color: white
  mix-blend-mode: difference
  cursor: pointer
  transition: opacity 0.66s ease-in
  &[data-active="true"]
    opacity: 1
  &[data-active="false"]
    opacity: 0
  


