.theHeader
  z-index: +1
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding: 2rem var(--spacing-sides)
  padding-right: calc(var(--spacing-sides) * 2)
  color: white
  display: flex
  align-items: flex-start
  justify-content: space-between

  .headerSequence
    opacity: 0

  & > div
    display: flex
    flex-direction: row
    gap: .33rem

  .brand
    display: flex
    flex-direction: row
    gap: 4rem
  .logo
    text-transform: uppercase
  .description
    color: var(--color-type-secondary)
    span
      opacity: 0 !important
      margin-bottom: .33rem

  .links
    display: flex
    flex-direction: row
    gap: 8rem
    .connect, .enquiries
      display: flex
      flex-direction: column
      gap: 0.33rem
    .bottom
      display: flex
      flex-direction: column
      gap: 0.165rem
      a, p
        color: var(--color-type-secondary)
    .link
      &:hover
        text-decoration: underline
